{{ >main/header}}
<v-data-table
        :headers="headers"
        :items="datas" xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
    <template v-slot:top>
        <v-toolbar flat color="white">
<v-toolbar-title>TD 3</v-toolbar-title>
<v-divider
        class="mx-4"
        inset
        vertical
></v-divider>
<v-spacer></v-spacer>
<v-dialog v-model="dialog" max-width="500px">
    <template v-slot:activator="{ on }">
        <v-btn color="primary" dark class="mb-2" v-on="on">Ajouter une organisation</v-btn>
    </template>
</v-dialog>
</v-toolbar>
</template>
<template v-slot:item.action="{ item }">
    <v-icon
            small
            class="mr-2"
            @click="editItem(item)"
    >
        mdi-pencil
    </v-icon>
    <v-icon
            small
            @click="deleteItem(item)"
    >
        mdi-delete
    </v-icon>
</template>
</v-data-table>

{{ >main/footer}}
{{{vue}}}