{{>/main/header}}
<h2 class="ui header">
    <i class="github icon"></i>
    <div class="content">
        Tp5
        <div class="sub header">espace de connexion du tp5</div>
    </div>
</h2>
<div class="ui relaxed divided list">

    {{#login}}
    <h3>
    <div class="content"> {{login}}
    {{/login}}
    {{#mail}}
    <div class="sub header">{{mail}}</div></div></h3>
    <a href="logout">se déconnecter</a>
    {{/mail}}
    {{^login}}
    <a href="login">se connecter</a>
    {{/login}}



    {{#message}}
    <p> {{message}} </p>
    {{/message}}



</div>
{{>/main/footer}}