<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>On est là, on est là</title>
</head>
<body>
    <p>Ce que on est là signifie :</p>

    <table>

    <tr>
        <th>Nom        &nbsp;</th>

        <th>Evaluation</th>
    </tr>
        {{#items}}
    <tr>
        <td>{{nom}}&nbsp;</td>
        <td>{{evaluation}}</td>
        <td><a href="/items/new/{{nom}}"><button>incrémenter</button></a></td>
    </tr>
        {{/items}}
    </table>
    <a href="/items/new"><button>Ajouter</button></a>
</body>
</html>