{{>/main/header}}
<h2 class="ui header" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.w3.org/1999/xhtml">
    <i class="github icon"></i>
    <div class="content">
        Tp5
        <div class="sub header">espace de création d'un script du tp5</div>
    </div>
</h2>


<div>
    <form action="submit" method="post">
        Titre : <input type="text" name="title">
        Description <input type="text" name="description">
        content <input type="text" name="content">
        date de création <input type="text" name="date">
        <button type="submit">Créer</button>
    </form>
</div>





{{>/main/footer}}